body {
	color: #111111;
	font:12px/1.5 "Lucida Grande",Arial,sans-serif;
	margin: 0px;
}
/**
 * HEADER 
 **/
#header {
	height: 30px; 
	background-color: #354242; 
	color: white;
	margin-bottom: 10px;
}
#headerBox {
	width:980px;
	margin: 0 auto;
}
#header #title {
	float:left;
}
#header #userMenu {
	float:right;
}
#header #userInfo {
	float:right;
	margin-left:5px;
}
#header img {
	background-color: #fff;
	height: 25px;
	margin-right: 5px;
	padding: 2px;
}

/**
 * BUTTONS
 **/
.button, .button:visited {
	background: #222 url(img/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
	.button:hover							{ background-color: #111; color: #fff; }
	.button:active							{ top: 1px; }
	.small.button, .small.button:visited 	{ font-size: 11px; padding: ; }
	.button, .button:visited,
	.medium.button, .medium.button:visited 	{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.button, .large.button:visited 	{ font-size: 14px; padding: 8px 14px 9px; }
	.blue.button, .blue.button:visited		{ background-color: #2daebf; }
	.blue.button:hover						{ background-color: #007d9a; }
/**
 * CONTENT
 **/
#content {
	width: 980px;
	margin: 0 auto;
}
.left {
	float: left;
	width: 480px;
}
.right {
	float: right;
	width: 490px;
}
/**
 * PLAYLIST
 **/
#list {
	list-style: none outside none;
	padding: 10px;
	margin: 0px;
}
	#list a {
		text-decoration: none;
	}
.list_from {
	margin: 0 5px 0 10px;
	-moz-border-radius:5px 5px 5px 5px;
	background:none repeat scroll 0 0 #C9DE55;
	color:#FFFFFF;
	font-weight:bold;
	margin-right:5px;
	padding:1px 5px;
}
.list_name {
	margin: 0 5px 0 10px;
}
/**
 * PLAYER
 **/
#player {
	display:block;
}
#caption {
	margin-top: 10px;
}
#caption img {
	float: left;
	margin: 0 10px;
}
#caption #from {
	font-weight: bold;
}
#caption #message {
	font-style: italic;
	background-color: #7D9100;
	color: #FFFF9D;
	padding: 5px;
}
/**
 * CONTROLS
 **/
#controls {
	background-color: #354242;
}
